<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- start window1 upper left hand corner-->
    <add key="hasCuda" value="false"/>
    <!-- start window1 upper left hand corner-->
    <add key="window1x" value="90"/>
    <add key="window1y" value="7"/>
    <!-- start window2 middle left hand going down-->
    <add key="window2x" value="90"/>
    <add key="window2y" value="50"/>
    <!-- start window3 bottom left hand going down-->
    <add key="window3x" value="90"/>
    <add key="window3y" value="100"/>
    <!-- start window4 upper right hand going down-->
    <add key="window4x" value="146"/>
    <add key="window4y" value="7"/>
    <!-- start window4 upper right hand going down-->
    <add key="window5x" value="146"/>
    <add key="window5y" value="50"/>
    <!-- start window4 upper right hand going down-->
    <add key="window6x" value="146"/>
    <add key="window6y" value="99"/>
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
